{% set noFooter = true %}
{% extends '../../layouts/layout.html' %}

{% block head %}
{% parent %}
<link rel="stylesheet" href="/assets/css/app/profile/profile.css">

{% endblock %}

{% block content %}
{% include '../../partials/header-fix-sign-in-menu.html' %}
    {% set userProfile = user.profile|last %}
    <div class="timeline-cover">
        <img src="[[ user.coverPicture || '' ]]" class="img-responsive">
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="navbar-header">
                <!-- <div>
                    <a class="navbar-brand" href="#">Follower</a>
                </div> -->
            </div>
        </div>

        <div class="col-md-3">
            <div class="navbar-header">
                <!-- <div>
                    <a class="navbar-brand" href="#">Follower</a>
                </div> -->
            </div>
        </div>
    </nav>
    <div class="row row-timeline">
        <div class="col-md-3">
            <div class="text-center">
                <img
                    src="[[ user.avatar ]]"
                    class="img-thumbnail profile-avatar"
                    alt="[[ userProfile.firstname + ' ' + userProfile.lastname || 'avatar' ]]"
                    title="[[ userProfile.firstname + ' ' + userProfile.lastname || 'avatar' ]]">
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <h3>[[ userProfile.firstname | title + ' ' + userProfile.lastname | title ]]</h3>
                    <p>
                        <i class="glyphicon glyphicon-user"></i>&nbsp;@[[ user.username | title]]<br>
                        <i class="glyphicon glyphicon-earphone"></i>&nbsp;0[[ userProfile.phone ]]<br>
                        <i class="glyphicon glyphicon-globe"></i>&nbsp;Lives in [[ userProfile.country | title ]]
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item well">
                    <form class="form-horizontal" role="form">
                        <div class="form-group" style="padding:14px;">
                            <textarea class="form-control" placeholder="first step of executing..."></textarea>
                        </div>
                        <button class="btn btn-success pull-right" type="button">Post</button>
                        <ul class="list-inline">
                            <li><a href="#"><i class="glyphicon glyphicon-align-left"></i></a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-align-center"></i></a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-align-right"></i></a></li>
                        </ul>
                    </form>
                </li>
                <li class="list-group-item">
                    <form class="form-horizontal" role="form">
                        <div class="form-group" style="padding:14px;">
                            <textarea class="form-control" placeholder="first step of executing..."></textarea>
                        </div>
                        <button class="btn btn-success pull-right" type="button">Post</button>
                        <ul class="list-inline">
                            <li><a href="#"><i class="glyphicon glyphicon-align-left"></i></a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-align-center"></i></a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-align-right"></i></a></li>
                        </ul>
                    </form>
                </li>
            </ul>
        </div>
        <!-- right side -->
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Trends</h4>
                    <p>
                        lorem ipsom
                    </p>
                </li>
            </ul>
        </div>
    </div>


<!-- <div id="fh5co-page">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div> -->
{% endblock %}
