{% set noFooter = true %}
{% extends '../../layouts/layout.html' %}

{% block head %}
{% parent %}
<link rel="stylesheet" href="/assets/css/app/profile/profile.css">
<script>
    angular.module("deeployer", []);
</script>
<script src='/assets/js/app/profile/cover.js'></script>
<script src='/assets/js/app/profile/avatar.js'></script>
<script>
    window.angularControllerValues = {
        avatar: '[[user.avatar]]',
        cover: '[[user.coverPicture]]'
    };
</script>
{% endblock %}

{% block angularSection %}
    ng-app="deeployer"
{% endblock %}

{% block content %}
{% include '../../partials/header-fix-sign-in-menu.html' %}
    {% set userProfile = user.profile|last %}
    <div class="timeline-cover" ng-controller="ProfileCoverController">
        <img
            class="img-responsive"
            ng-mouseover="editCoverIconStatus = true"
            ng-mouseleave="editCoverIconStatus = false"
            ng-src="{{ cover }}"
            ng-click="coverClick()"
            cover-image-onload-waiting>
        <i
            ng-mouseover="editCoverIconStatus = true" 
            ng-show="!waitingCover && editCoverIconStatus"
            ng-click="coverClick()"
            class="glyphicon glyphicon-edit"></i>
        <div ng-show="waiting" class="cssload-container">
            <div class="cssload-whirlpool"></div>
        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <div class="navbar-header">
                <div class="profile-list-links">
                    <a class="navbar-brand {% if page === 'posts' %} active{% endif %}" href="/profile">Posts</a>
                    <a class="navbar-brand {% if page === 'about' %} active{% endif %}" href="/profile/about">About</a>
                    <a class="navbar-brand {% if page === 'followers' %} active{% endif %}" href="/profile/followers">Followers</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="row-timeline">
        <div class="col-md-3">
            <div class="text-center avatar-wrapper" ng-controller="ProfileAvatarController">
                <img
                    ng-mouseover="editIconStatus = true" 
                    ng-mouseleave="editIconStatus = false"
                    ng-src="{{ avatar }}"
                    ng-click="avatarClick()"
                    class="img-thumbnail avatar profile-avatar"
                    alt="[[ userProfile.firstname + ' ' + userProfile.lastname || 'avatar' ]]"
                    title="[[ userProfile.firstname + ' ' + userProfile.lastname || 'avatar' ]]"
                    width="200px"
                    height="200px"
                    image-onload-waiting>
                <i
                    ng-mouseover="editIconStatus = true" 
                    ng-show="!waiting && editIconStatus"
                    ng-click="avatarClick()"
                    class="glyphicon glyphicon-edit"></i>
                <div ng-show="waiting" class="cssload-container">
                    <div class="cssload-whirlpool"></div>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <h3>[[ userProfile.firstname | title + ' ' + userProfile.lastname | title ]]</h3>
                    <p>
                        <i class="glyphicon glyphicon-user"></i>&nbsp;@[[ user.username | title]]<br>
                        <i class="glyphicon glyphicon-earphone"></i>&nbsp;0[[ userProfile.phone ]]<br>
                        <i class="glyphicon glyphicon-globe"></i>&nbsp;Lives in [[ userProfile.country | title ]]
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            {% set profilePartialPage = '../../partials/profile/' + page + '.html' %}
            {% include profilePartialPage %}
        </div>
        <!-- right side -->
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>Invite</h4>
                    <p>
                        Invite your friends here to earn +20 points per each person.
                    </p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
