<script src='/assets/js/app/partials/profile/follow-button.js'></script>
<div ng-controller="PartialsProfileFollowButtonController" ng-init="
            status = 'not-following';
        ">
    <div ng-show="status === 'not-following'">
        <button
            class="btn btn-success btn-follow"
            ng-click="status='following'"
        >
            Follow&nbsp;<i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>
    <div ng-show="status === 'following'">
        <button
            class="btn btn-primary btn-follow"
            ng-click="status='not-following'"
        >
            Following&nbsp;<i class="glyphicon glyphicon-ok"></i>
        </button>
    </div>
<div>