<script src='/assets/js/app/partials/profile/posts.js'></script>
<div ng-controller="PartialsProfilePostsController" ng-init="getPosts()" class="profile-posts">
    <ul class="list-group">
        <li class="list-group-item write-post-row">
            {% include './new-post.html' %}
        </li>
        <li class="list-group-item waiting-row">
            <div class="cssload-container">
                <div class="cssload-whirlpool"></div>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>
