<script src='/assets/js/app/partials/profile/posts.js'></script>
<div
    ng-controller="PartialsProfilePostsController"
    ng-init="getPosts()"
    class="profile-posts ng-hide"
    ng-show="moduleLoaded"
>
    <ul class="list-group post-wrapper post-spread-section">
        <li class="list-group-item write-post-row">
            {% include './new-post.html' %}
        </li>
    </ul>
    <ul class="list-group post-wrapper">
        <li class="list-group-item waiting-row" ng-show="postTopWaiting">
            <div class="cssload-container">
                <div class="cssload-whirlpool"></div>
            </div>
            <div class="clearfix"></div>
        </li>
        <li class="list-group-item hide post-area-top"></li>

        <li class="list-group-item hide post-area-bottom"></li>
        <li class="list-group-item waiting-row hide-row text-center" ng-show="lastPostFetched">
            <p
                ng-show="queue.length === 0"
            >
                You haven't share any post yet. &nbsp;
                <button ng-click="newPostPopup()" class="btn btn-lg btn-idea">
                    <i class="glyphicon glyphicon-share"></i>
                    Spread
                </button>
            </p>
            <span
                ng-show="queue.length !== 0"
                class="btn btn-info btn-sm"
                disabled
            >
                That's all of it
            </span>
        </li>
        <li class="list-group-item waiting-row hide-row text-center" ng-show="bottomSeeMore && !lastPostFetched">
            <button
                class="btn btn-sm btn-info"
                ng-click="seeMore()"
            >
                See more ...
            </button>
        </li>
        <li class="list-group-item waiting-row hide-row" ng-show="postBottomWaiting">
            <div class="cssload-container">
                <div class="cssload-whirlpool"></div>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</div>

<script type="text/ng-template" id="postNormal.ng.html">
    <li class="list-group-item post-row">
        <div class="poster-info">
            <div class="profile-post-avatar">
                <img
                    ng-src="{{ post.ownerUserId.avatar }}"
                    class="img-thumbnail avatar"
                    alt="{{ post.ownerUserId.username }}"
                    title="{{ post.ownerUserId.username }}"
                    width="75px"
                    height="75px"
                    src="{{ post.ownerUserId.avatar }}">
            </div>
            <div class="profile-post-misc">
                <a href="/profile/{{ post.ownerUserId.username }}">
                    {{ post.ownerUserId.username }}
                </a>
                <span class="text-muted">
                    @{{ post.ownerUserId.username }}
                </span>
                <span class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>&nbsp;
                    {{ post.postedAt }}
                </span>
                <div class="clearfix"></div>
                {{ post.content }}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="poster-action"></div>
    </li>
</script>
