<script>
    window.socketStatus = false;
    window.controllers = {};
    var app = angular.module("deeployer", ['btford.socket-io']);
    app.service('$socketConnection', ['socketFactory', function (socketFactory) {
        window.socketIo = window.socketIo || socketFactory({
                ioSocket: io.connect('[[ socketPath ]]', {
                    query     : jQuery.param({
                        region: '[[ socketRegion|default('global') ]]'
                    }),
                    transports: ['websocket']
                })
            });

        window.socketIo.on('connect', function () {
            window.socketStatus = true;
        });

        window.socketIo.on('disconnect', function () {
            window.socketStatus = false;
        });

        this.socket = window.socketIo;

    }]);

    app.filter('ucwords', function () {
        return function (input) {
            if (input) { //when input is defined the apply filter
                input = input.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                    return letter.toUpperCase();
                });
            }
            return input;
        }
    });
</script>