<footer id="footer" role="footer">
    <div class="container">
        <div class="col-md-12">
            <div class="row row-bottom-padded-sm">
                <p class="text-center">
                    <a href="terms-and-conditions.html" class="foot-link">Terms and Conditions</a>
                    <a href="services-and-features.html" class="foot-link">Services / Features</a>
                    <a href="blog.html" class="foot-link">Blog</a>
                </p>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-12">
                <p class="copyright text-center">
                    <a href="waac.html" class="foot-link">
                        <strong>WAAC</strong>
                    </a>
                    &copy;2016
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="social social-circle">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-youtube"></i></a></li>
                    <li><a href="#"><i class="icon-reddit"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-github"></i></a></li>
                    <li><a href="#"><i class="icon-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
