<script src='/assets/js/app/partials/header-sign-in-menu/notifications.js'></script>
<header role="banner" class="navbar-fixed-top" id="fh5co-header">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a
                    href="#"
                    class="js-fh5co-nav-toggle fh5co-nav-toggle"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar"><i></i>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="header-search-box">
                        <input
                            type="text"
                            placeholder="Search..."
                            class="form-control"
                        >
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="dropdown dropdown-notification" ng-controller="HeaderSignInMenuNotificationsController">
                            <button
                                ng-click="getNotifications()"
                                class="btn btn-lg btn-notification"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <i class="glyphicon glyphicon-globe"></i>
                                <span class="label label-danger ng-hide" ng-show="unreadCount > 0 && moduleLoaded">
                                {{
                                    unreadCount > 99
                                    ? '+99'
                                    : unreadCount
                                }}
                                </span>
                            </button>
                            <ul
                                scroll
                                class="dropdown-menu"
                                aria-labelledby="dLabel">
                                <li
                                    ng-show="!notificationsWaiting && list.length === 0"
                                    class="active text-center"
                                    >
                                    <span>No Notification</span>
                                </li>
                                <li
                                    ng-show="
                                        list.length === 0
                                            ? !notificationsWaiting
                                            : true
                                    "
                                    ng-repeat="notify in list"
                                    >
                                    <img
                                        class="img-rounded dropdown-avatar"
                                        width="32px"
                                        height="32px"
                                        src="/assets/images/common/notifications/notify.png"
                                    > 
                                    <div class="notify-desc">
                                        {{ notify.attributes.text }}
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li
                                    ng-show="notificationsWaiting"
                                    class="dropdown-header dropdown-wait"
                                    >
                                    <div class="cssload-container">
                                        <div class="cssload-whirlpool"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        &nbsp;
                        &nbsp;
                    </li>
                    <li>
                        {% include './header-fix-new-post.html' %}
                    </li>
                    <li>
                        &nbsp;
                        &nbsp;
                    </li>
                    <li>
                        <div class="dropdown">
                            <button
                                class="btn btn-lg btn-profile"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <img
                                    class="img-rounded dropdown-avatar"
                                    width="32px"
                                    height="32px"
                                    src="[[ user.avatar ]]"
                                    > 
                                [[ user.username | title ]] 
                                <span class="caret"></span>
                            </button>
                            <ul
                                class="dropdown-menu"
                                aria-labelledby="dLabel">
                                <li>
                                    <a href="/profile">
                                        <strong class="dropdown-username">
                                            {% set userProfile = user.profile|last %}

                                            [[ userProfile.firstname | title ]] 
                                            [[ userProfile.lastname | title ]]
                                        </strong>
                                        <div class="text-muted">View Profile</div>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <!--<li>-->
                                    <!--<a href="/account/settings">-->
                                        <!--<i class="glyphicon glyphicon-cog"></i> Settings-->
                                    <!--</a>-->
                                <!--</li>-->
                                <li>
                                    <a href="/support">
                                        <i class="glyphicon glyphicon-cog"></i> Support
                                    </a>
                                </li>
                                <li>
                                    <a href="/account/sign-out">
                                        <i class="glyphicon glyphicon-log-out"></i> Sign out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>