{% extends '../../../layouts/layout.html' %}

{% block head %}
{% parent %}
<link rel="stylesheet" href="/assets/css/app/account/activation/account.css">
<script src='/assets/js/app/account/activation/account.js'></script>
<script>
    window.angularControllerValues = {
        avatar: '[[user.avatar]]'
    };
</script>
{% endblock %}

{% block angularSection %}
    ng-app="deeployer"
{% endblock %}

{% block content %}
{% include '../../../partials/header-fix-sign-in.html' %}
<div id="fh5co-page" ng-controller="AccountController">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section">
            <div class="col-md-12 section-heading text-center">
                <h2>Account</h2>
                <br>
                <div class="row">
                    <form name="accountForm" ng-submit="submitForm(accountForm)" role="form" novalidate>
                        <div class="col-md-12">
                            <p>
                                First of all you need to set your username and your avatar that you wish to work with in to the system.
                            </p>
                            <div class="avatar-wrapper">
                                <img
                                    ng-mouseover="editIconStatus = true" 
                                    ng-mouseleave="editIconStatus = false"
                                    ng-src="{{ avatar }}"
                                    ng-click="avatarClick()"
                                    class="img-thumbnail avatar"
                                    alt="avatar"
                                    title="avatar"
                                    width="200px"
                                    height="200px"
                                    image-onload-waiting>
                                <i
                                    ng-mouseover="editIconStatus = true" 
                                    ng-show="!waiting && editIconStatus"
                                    ng-click="avatarClick()"
                                    class="glyphicon glyphicon-edit"></i>
                                <div ng-show="waiting" class="cssload-container">
                                    <div class="cssload-whirlpool"></div>
                                </div>
                            </div>
                            <br>
                            <input
                                class="form-control username text-center"
                                type="text"
                                name="username"
                                ng-minlength="3"
                                ng-model="username"
                                required="required"
                                placeholder="@Username">
                            <p class="text-danger">{{ picValidationText || collectPointError}}</p>
                            <br>
                            <a
                                href="/account/activation"
                                class="btn btn-primary backButton">
                                Back
                            </a>
                            <button
                                ng-disabled="!accountForm.$valid"
                                type="submit"
                                class="btn btn-success submitButton">
                                +50 Points
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
