{% extends '../../../layouts/layout.html' %}

{% block head %}
{% parent %}
<script>
    angular.module("deeployer", []);
</script>
<script src='/assets/js/app/account/activation/profile.js'></script>
{% endblock %}

{% block angularSection %}
    ng-app="deeployer"
{% endblock %}

{% block content %}
{% include '../../../partials/header-fix-sign-in.html' %}

<div id="fh5co-page" ng-controller="ProfileController">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section">
            <div class="col-md-12 section-heading text-center">
                <h2>Profile</h2>
                <div class="row">
                    <form name="profileForm" ng-submit="submitForm(profileForm)" role="form" novalidate>
                        <div class="col-md-12">
                            <p class="text-success">
                                Congratulation <strong>[[ user.username | title ]]</strong>, you just earned <strong>+50</strong> points by completing the first step.
                            </p>
                            <p>
                                Now it's time to complete your profile in order to earn another 50 points.
                            </p>
                            <br>
                            <div class="col-md-6 col-md-offset-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select
                                            class="form-control" 
                                            ng-model="profile.gender"
                                        >
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            required="required"
                                            class="form-control"
                                            placeholder="Firstname"
                                            ng-model="profile.firstname">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input
                                            type="text"
                                            required="required"
                                            class="form-control"
                                            placeholder="Lastname"
                                            ng-model="profile.lastname">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select
                                            class="form-control" 
                                            ng-model="profile.country"
                                        >
                                            <option value="United State" country-code="+1">United State (+1)</option>
                                            <option value="Thailand">Thailand (+66)</option>
                                            <option value="Hungary">Hungary (+36)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input 
                                            type="number"
                                            required="required"
                                            class="form-control"
                                            ng-minlength="9"
                                            ng-maxlength="12"
                                            placeholder="Phone Number"
                                            ng-model="profile.phone">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <p class="text-danger">{{ collectPointError }}</p>
                                <div class="clearfix"></div>

                                <a
                                    href="/account/activation"
                                    class="btn btn-primary backButton">
                                    Back
                                </a>
                                <button
                                    ng-disabled="!profileForm.$valid"
                                    type="submit"
                                    class="btn btn-success submitButton">
                                    +50 Points
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
