{% extends '../../../layouts/layout.html' %}

{% block head %}
{% parent %}
<link rel="stylesheet" href="/assets/bower/bootstrap-social/bootstrap-social.css">

{% include '../../../partials/angular-module.html' %}

<script src='/assets/js/app/account/activation/sharing.js'></script>

{% include '../../../partials/facebook-sdk.html' %}
{% include '../../../partials/twitter-sdk.html' %}
{% endblock %}

{% block angularSection %}
    ng-app="eloyt"
{% endblock %}

{% block content %}
{% include '../../../partials/header-fix-sign-in.html' %}
<div id="fh5co-page" ng-controller="SharingController">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section">
            <div class="col-md-12 section-heading text-center">
                <h2>Sharing</h2>
                <br>
                <div class="row">
                    <form name="sharingForm" role="form" novalidate>
                        <div class="col-md-12">
                            <div class="col-md-6 col-md-offset-3 text-justify">
                                <p class="text-success">
                                    Congratulation <strong>[[ user.username | title ]]</strong>, now your profile
                                    is completed.
                                </p>
                                <br>
                                <p>
                                    your comunity is growing and getting bigger and bigger.
                                    but you can also help us to grow and gather more people for you
                                    by <strong>sharing</strong> us on the social networks.
                                </p>
                            </div>
                            <br>
                            <div class="col-md-4 col-md-offset-4">
                                <button
                                    ng-click="facebookSharing()"
                                    class="btn btn-block btn-social btn-facebook">
                                    <span class="fa fa-facebook"></span>
                                    Share on Facebook
                                </button>
                                <a
                                    href="https://twitter.com/intent/tweet?url=https://www.eloyt.com&text=I'm%20a%20%23eloyt%2C%20join%20and%20execute%20your%20ideas%20with%20me%2C%20today%20is%20already%20late%2C"

                                    class="btn btn-block btn-social btn-twitter">
                                    <span class="fa fa-twitter"></span>
                                    Share on Twitter
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <br>

                            <div class="col-md-6 col-md-offset-3 text-justify">
                                <p class="text-danger">
                                    like all the other platforms, we have our policies which you can find and read it
                                    in our <a href="/terms-and-conditions">Terms and conditions</a> page.
                                </p>
                                <p>
                                    all of our policies are part of who we are and what we can provide for you.
                                    and from the fact that you are important to us, whomever wish to use our platform,
                                    needs to agree with it and obey these simple rules.
                                </p>
                            </div>
                            <div class="col-md-6 col-md-offset-3">
                                <p ng-show="message">{{ message }}<p>
                                <button
                                    ng-click="agreeWithConditions()"
                                    class="btn btn-block btn-success">
                                    I'm Agree with Terms and conditions<br>
                                    Activate my account now.
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
