{% extends '../../../layouts/layout.html' %}

{% block head %}
{% parent %}
<script src='/assets/js/app/account/activation/sharing.js'></script>
{% endblock %}

{% block angularSection %}
    ng-app="deeployer"
{% endblock %}

{% block content %}
{% include '../../../partials/header-fix-sign-in.html' %}

<div id="fh5co-page" ng-controller="SharingController">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section">
            <div class="col-md-12 section-heading text-center">
                <h2>Sharing</h2>
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                        </h3>
                        <br>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
