{% extends '../../../layouts/layout.html' %}

{% block head %}
{% parent %}
<link rel="stylesheet" href="/assets/bower/bootstrap-social/bootstrap-social.css">
<script src='/assets/js/app/account/activation/sharing.js'></script>

{% include '../../../partials/facebook-sdk.html' %}
{% endblock %}

{% block angularSection %}
    ng-app="deeployer"
{% endblock %}

{% block content %}
{% include '../../../partials/header-fix-sign-in.html' %}
<div id="fh5co-page" ng-controller="SharingController">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section">
            <div class="col-md-12 section-heading text-center">
                <h2>Sharing</h2>
                <br>
                <div class="row">
                    <form name="sharingForm" role="form" novalidate>
                        <div class="col-md-12">
                            <p class="text-success">
                                Congratulation <strong>[[ user.username | title ]]</strong>, you just earned <strong>+50</strong> points by completing your profile.<br>
                                Your current points : <strong>+100</strong> points
                            </p>
                            <p>
                                in order to activate your account. you need to agree upon the platform's l
                                you need to share our website on one of the social networks below in order to activate your account.
                            </p>
                            <br>

                            <div class="col-md-4 col-md-offset-4">
                                <button ng-click="facebookSharing()" class="btn btn-block btn-social btn-facebook">
                                    <span class="fa fa-facebook"></span>
                                    Share on Facebook
                                </button>
                                <!-- 
                                <button ng-click="twitterSharing()" class="btn btn-block btn-social btn-twitter">
                                    <span class="fa fa-twitter"></span>
                                    Share on Twitter
                                </button>
                                <button ng-click="googleSharing()" class="btn btn-block btn-social btn-google">
                                    <span class="fa fa-google"></span>
                                    Share on Google plus
                                </button>
                                <button ng-click="linkedinSharing()" class="btn btn-block btn-social btn-linkedin">
                                    <span class="fa fa-linkedin"></span>
                                    Share on Linkedin
                                </button> 
                                -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
