<form
    class="form-inline"
    ng-submit="rowSave('name', nameForm)"
    name="nameForm"
    role="form"
    novalidate
>
    Full name:
    <div class="form-group" ng-show="rowVisibility.name === 'show'">
        {{ userProfile.firstname | ucwords }} {{ userProfile.lastname | ucwords }}
    </div>
    <button
        type="button"
        class="btn btn-default btn-xs"
        ng-show="rowVisibility.name === 'show'"
        ng-click="rowVisibility.name = 'edit'"
    >
    <i class="glyphicon glyphicon-edit"></i>
    </button>

    <div class="form-group" ng-show="rowVisibility.name === 'edit'">
        <label class="sr-only" for="profile-firstname">Firstname</label>
        <input
            id="profile-firstname"
            required="required"
            class="form-control input-sm"
            type="text"
            placeholder="Firstname"
            value="[[ userProfile.firstname | title ]]"
            ng-model="userProfile.firstname"
            ng-disabled="waiting.name"
        >
    </div>
    <div class="form-group" ng-show="rowVisibility.name === 'edit'">
        <label class="sr-only" for="profile-lastname">Lastname</label>
        <input
            id="profile-lastname"
            required="required"
            class="form-control input-sm"
            type="text"
            placeholder="Lastname"
            value="[[ userProfile.lastname | title ]]"
            ng-model="userProfile.lastname"
            ng-disabled="waiting.name"
        >
    </div>
    <button
        ng-disabled="!nameForm.$valid || waiting.name"
        type="submit"
        class="btn btn-default btn-xs"
        ng-show="rowVisibility.name === 'edit'"
    >
        <img
            src="/assets/images/common/waiting.gif"
            ng-show="waiting.name"
        >
        <i
            class="glyphicon glyphicon-save"
            ng-show="!waiting.name"
        ></i>&nbsp;Save
    </button>
    <button
        type="button"
        ng-disabled="waiting.name"
        class="btn btn-default btn-xs"
        ng-show="rowVisibility.name === 'edit'"
        ng-click="
            userProfile.firstname = userProfileDefault.firstname;
            userProfile.lastname = userProfileDefault.lastname;
            rowVisibility.name = 'show';
        "
    >
        <i class="glyphicon glyphicon-remove-circle"></i>&nbsp;cancel
    </button>
</form>
