<div
    class="modal"
    tabindex="-1"
    role="dialog"
    id="header-fix-signed-in-new-post-modal"
    ng-controller="HeaderSignInMenuPostsController"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Post what is on your mind
                </h4>
            </div>
            <div class="modal-body">
                <div class="text-area">
                    <textarea
                        ng-model="content"
                        rows="4"
                        class="form-control"
                    ></textarea>
                </div>
                <div class="action-area">
                    <button
                        ng-disabled="
                            (maxContentLength - content.length) < 0 ||
                            (maxContentLength - content.length) === maxContentLength
                        "
                        ng-click="sendPost()"
                        type="button"
                        class="btn btn-info btn-post pull-right"
                    >Post</button>
                    <div class="pull-right">
                        &nbsp;
                    </div>
                    <div
                        class="pull-right {{ (maxContentLength - content.length) >= 0 ? 'text-success' : 'text-danger' }}"
                    >
                        <strong>{{ maxContentLength - content.length }}</strong>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
