{% extends '../../layouts/layout.html' %}

{% block head %}
{% parent %}
<script type="text/javascript" src="/assets/js/app/root/landing-page.js"></script>
{% endblock %}

{% block content %}
{% include '../../partials/header.html' %}
<div id="slider" data-section="home">
    <div class="owl-carousel owl-carousel-fullwidth">
        <div class="item item-ideas-are-easy">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead">Ideas are easy, <br>Execution is everything</h1>

                                <h3 class="fh5co-sub-lead to-animate">It's the execution that matters, never the
                                    idea.</h3>

                                <p class="to-animate text-right"><strong>"Casey Neistat"</strong></p>

                                <p class="to-animate-2">
                                    <a href="/account/sign-in" class="btn btn-primary btn-lg">Sign in and execute your idea
                                        here</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-what-is-eloyt">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-1">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead">What is Eloyt?</h1>

                                <h3 class="fh5co-sub-lead to-animate">Eloyt is a social network for realizing the
                                    ideas and create the startup out of it, find Investors and build job for other
                                    people</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class="fh5co-lead">How it works?</h1>

                                <h3 class="fh5co-sub-lead to-animate">you only need to create an account, complete your
                                    profile and spread your ideas or brainstorm on other people ideas, create a team out
                                    of that idea and build your own startup.</h3>

                                <p class="to-animate">But you should know that we are helping you on each step</p>

                                <p class="to-animate-2">
                                    <a href="/account/sign-in" class="btn btn-primary btn-lg">
                                        Sign in and execute your idea here
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-about-us" data-section="who-we-are">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section" id="who-we-are">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Who we are</h2>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 to-animate">
                        <h3>We are small group from all around the world but with potential to grow</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                <h3>Community</h2>
                    <p class="sub-section-desc">
                        Building a community is one of the most important things that shapes the business in order to
                        have better reflex against the people needs.
                    </p>

                    <p>
                        <a href="#" class="btn btn-primary btn-block">Read more ...</a>
                    </p>
            </div>
            <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                <h3>Partnership</h2>
                    <p class="sub-section-desc">
                        our is a best place that can find the people from your community and ask them to join to your
                        project and be a partner of your dream.
                    </p>

                    <p>
                        <a href="#" class="btn btn-primary btn-block">Read more ...</a>
                    </p>
            </div>
            <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                <h3>Fund</h2>
                    <p class="sub-section-desc">
                        The only way to make a business live longer is to have enough budget to create revenue, but only
                        investments can make this happen. our platform offers the both <strong>crowdfunding</strong> and
                        <strong>angel investment</strong> ways to realize a business.
                    </p>

                    <p>
                        <a href="#" class="btn btn-primary btn-block">Read more ...</a>
                    </p>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-features-services" data-section="services-features">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section" id="services-features">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Services / Features</h2>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 to-animate">
                        <h3>we are offering several features that can help the entrepreneurs and also freelancers all
                            around the world to build their career</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                <h3>Startup</h2>
                    <p class="sub-section-desc">
                        By using our system you can run your own startups without spending too much time on startup
                        weekends or these kind of occasions. all the platform is available 24/7 all around the world.
                    </p>
            </div>
            <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                <h3>Freelancing</h2>
                    <p class="sub-section-desc">
                        Some of the entrepreneurs prefer to out source their business ideas to a freelancer. in this way
                        you can use our platform to find a part time, full time or project job easy, accessible day or
                        night.
                    </p>
            </div>
            <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                <h3>CrowdFunding</h2>
                    <p class="sub-section-desc">
                        One of our best features are to offer the entrepreneurs to fund their ideas by crowd source. our
                        rates are cheaper than any other platforms and you can easily fund your project without any
                        concerns about the commissions.
                    </p>
            </div>
            <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                <h3>Mentorship</h2>
                    <p class="sub-section-desc">
                        Everybody would be able to share their ideas, on our platform but if you needed someone with
                        business skills to help you writing Business plans or just only help to going through a sales or
                        marketing, we are providing a service that can allow everybody to be mentor in our system and
                        actually sell their knowledge to other people who really need.
                    </p>
            </div>
            <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                <h3>Online Chat</h2>
                    <p class="sub-section-desc">
                        We are providing an online chat for qualified users to be more comfortable in communicate with
                        their team, or for announcements or any supports for their business to consumers.
                    </p>
            </div>
            <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                <h3>24/7 Support</h2>
                    <p class="sub-section-desc">
                        Day or night, you can share your problems, feedbacks or any concers about our platform.
                        we would like to improve our system to provide better services to you.
                    </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
