{% set noFooter = true %}
{% extends '../../layouts/layout.html' %}

{% block head %}
{% parent %}

<script>
    angular.module("deeployer", []);
</script>
{% endblock %}

{% block angularSection %}
    ng-app="deeployer"
{% endblock %}

{% block content %}
{% include '../../partials/header-fix-sign-in-menu.html' %}
<div id="fh5co-page">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
{% endblock %}
