{% set noFooter = true %}
{% set newPostModal = true %}

{% extends '../../layouts/layout.html' %}

{% block head %}
{% parent %}
<link rel="stylesheet" href="/assets/css/app/console/console.css">

{% include '../../partials/angular-module.html' %}
<script src="https://maps.googleapis.com/maps/api/js?key=[[ googleMapApiKey ]]"></script>
<script src='/assets/js/app/console/console.js'></script>
{% endblock %}

{% block angularSection %}
ng-app="deeployer"
{% endblock %}

{% block content %}
{% include '../../partials/header-fix-sign-in-menu.html' %}
<div class="console-page" ng-controller="ConsoleController">
    <div class="row-header">
        <div class="map-view"></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row-timeline">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            {% include '../../partials/console/posts.html' %}
        </div>
        <div class="col-md-3">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
