.username {
    width: 200px;
    margin:auto;
}
.avatar {
    cursor: pointer;
    margin:auto
}
.submitButton, .backButton {
    width: 200px;
    margin:auto;
}
.avatar-wrapper {
    width: 200px;
    margin:auto;
    position:relative;
    i, .cssload-container {
        cursor: pointer;
        background: white;
        padding: 16px;
        border: 1px solid #ddd;
        border-radius: 50px;
        position: absolute;
        right: 32%;
        top: 32%;
        font-size: 2em;
        opacity: 0.5;
    }
    .cssload-container {
        top: 43%;
        right: 42%;
    }
    .cssload-whirlpool {
        position: relative;
        top: 26px;
        left: 26px;
    }
}
