{% extends '../../layouts/layout.html' %}

{% block head %}
{% parent %}
{% endblock %}

{% block content %}
{% include '../../partials/header-fix.html' %}

<div id="fh5co-about-us" data-section="who-we-are">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section" id="who-we-are">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Thanks for stopping by</h2>

                <div class="row">
                    <div class="col-md-12 to-animate">
                        <h3>
                            We are adding more features in the future and hope you guys share your ideas with us and
                            tell us what is your expectation about the platform or what it doesn't have, then we pop on
                            it and we make it happens.<br>
                            We are hopping to see you again and soon ;)
                        </h3>
                        <br>
                        <a href="/account/sign-in" class="btn btn-primary btn-lg">Sign in to your account</a>
                        <a href="/support" class="btn btn- btn-lg">Support and feedback</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
