{% extends '../../../layouts/layout.html' %}

{% block title %}Services and Features{% endblock %}

{% block head %}
{% parent %}
{% endblock %}

{% block content %}
{% include '../../../partials/header-fix.html' %}
<div id="fh5co-page">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section">
            <div class="col-md-12 section-heading text-center to-animate">
                <h2>Services and Features</h2>
                <h3>we are offering several features that can help the entrepreneurs and also freelancers all
                    around the world to build their career</h3>
            </div>
            <div class="col-md-12 section-heading to-animate">
                <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                    <h3>Startup</h2>
                        <p class="sub-section-desc">
                            By using our system you can run your own startups without spending too much time on startup
                            weekends or these kind of occasions. all the platform is available 24/7 all around the world.
                        </p>
                </div>
                <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                    <h3>Freelancing</h2>
                        <p class="sub-section-desc">
                            Some of the entrepreneurs prefer to out source their business ideas to a freelancer. in this way
                            you can use our platform to find a part time, full time or project job easy, accessible day or
                            night.
                        </p>
                </div>
                <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                    <h3>CrowdFunding</h2>
                        <p class="sub-section-desc">
                            One of our best features are to offer the entrepreneurs to fund their ideas by crowd source. our
                            rates are cheaper than any other platforms and you can easily fund your project without any
                            concerns about the commissions.
                        </p>
                </div>
                <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                    <h3>Mentorship</h2>
                        <p class="sub-section-desc">
                            Everybody would be able to share their ideas, on our platform but if you needed someone with
                            business skills to help you writing Business plans or just only help to going through a sales or
                            marketing, we are providing a service that can allow everybody to be mentor in our system and
                            actually sell their knowledge to other people who really need.
                        </p>
                </div>
                <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                    <h3>Online Chat</h2>
                        <p class="sub-section-desc">
                            We are providing an online chat for qualified users to be more comfortable in communicate with
                            their team, or for announcements or any supports for their business to consumers.
                        </p>
                </div>
                <div class="col-md-4 to-animate text-center who-we-are-sub-section">
                    <h3>24/7 Support</h2>
                        <p class="sub-section-desc">
                            Day or night, you can share your problems, feedbacks or any concers about our platform.
                            we would like to improve our system to provide better services to you.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
