{% extends '../../../layouts/layout.html' %}

{% block title %}Support{% endblock %}

{% block head %}
{% parent %}
{% endblock %}

{% block content %}
{% include '../../../partials/header-fix.html' %}
<div id="fh5co-page">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section">
            <div class="col-md-12 section-heading text-center to-animate">
                <h2>Support</h2>
            </div>
            <div class="col-md-12 section-heading to-animate">
                <p>
                    We are currently only can help you to solve your problem by the email.
                    if you have any question, feedback, or any idea about our platform, feel free to send us an email.

                    <a href="mailto:support@eloyt.com">support@eloyt.com</a>
                    
                    <br>
                    <br>

                    if you want to know more about our services and contact us, please visit <a href="/services-features">services and features page</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
