{% extends '../../../layouts/layout.html' %}

{% block title %}Terms and Conditions{% endblock %}

{% block head %}
{% parent %}
{% endblock %}

{% block content %}
{% include '../../../partials/header-fix.html' %}
<div id="fh5co-page">
    <div class="container">
        <div class="row row-bottom-padded-lg public-section">
            <div class="col-md-12 section-heading text-center">
                <h2>Terms and Conditions</h2>
            </div>
            <div class="col-md-12 section-heading">
                <p>
                    We keep your personal information private and safe And you control the types of information we collect and use.
                    <br>
                    The main types of data we collect are based on the actions you take using our site, your basic account details and the Ideas you create.
                    <br>
                    our service let you share Idea with others. Remember that when you share information publicly, it may be indexable by search engines. Our service provide you with different options on sharing and removing your content.
                    <br>
                    Your Ideas are safe here and in our service you get the contract from us,its valid to show you are a owner of Idea.
                    <br>
                    you are not allowed to use the other users infomation.
                    <br>
                    Don’t abuse other users’ personal information.
                    <br>
                    Don’t harm anyone’s computer and devices.
                    <br>
                    Don’t offer prohibited items.
                    <br>
                    Don’t lie to people.
                    <br>
                    Your idea should be clear and honest.
                    <br>
                    Choice of Law. Your relationship is with Deeployer, a United States company, and you agree to be bound by the laws of California and the laws of the United States.
                    <br>
                    If you track the other users your profile will be block.
                    <br>
                    To make free your profile from block you need to pay 500$ and in second time 1000$ and in third time(last time) you have to pay 1500$ to make free your profile.

                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
